<p id="notice"><%= notice %></p>

<p>
  <strong>Úkol:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Hotovo:</strong>
  <%= image_tag(@task.picture_url, :width => 600) if @task.picture.present? %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
